.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10rem;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid rgba(7, 99, 142, 0.743);
    font-family: 'Koulen', cursive;;
}

.header__title {
    text-align: center;
    text-decoration: none;
    color: rgb(9, 213, 240);
    font-size: 1.5rem;
}

.header .header__title:hover {
    box-shadow: 4px -3px 21px 8px white;
    -webkit-box-shadow: 4px -3px 21px 8px white;
    -moz-box-shadow: 4px -3px 21px 8px white;}

.navbar {
    display: flex;
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: rgb(9, 213, 240);
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar li {
    margin-right: 1.5rem;
    border-radius: 2px;
    padding: 0.3rem;
    text-align: center;
}

.header nav ul li:hover {
    box-shadow: 4px -3px 21px 8px white;
    -webkit-box-shadow: 4px -3px 21px 8px white;
    -moz-box-shadow: 4px -3px 21px 8px white;
}

