.presentacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.presentacion__foto {
    width: 15rem;
    border-radius: 2px;
}

.presentacion__texto {
    width: 15rem;
    height: 25rem;
    color: white;
    line-height: 2rem;
    font-size: 1.5rem;
}
