.enlace-github {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:60vh;

    a {
        text-decoration: none;
        color: white;
        background-color: rgba(7, 99, 142, 0.743);
        border-radius: 2px;
        padding: 1rem;
        font-size: 1.5rem;

        &:hover {
            box-shadow: 4px -3px 21px 8px rgba(129, 240, 255, 0.788);
            -webkit-box-shadow: 4px -3px 21px 8px rgba(129, 240, 255, 0.788);
            -moz-box-shadow: 4px -3px 21px 8px rgba(129, 240, 255, 0.788);
        }
    }
}


