@media (max-width:768px) {
    .header {
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }

    .header nav ul li:hover {
        display: none;
    }

    .navbar {
        flex-direction: column;
    }
    
    .footer {
        flex-direction: column;
    }

    .grid-skills {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 3rem;
    }

    .presentacion {
        grid-template-columns: 1fr;
    }

    .presentacion__texto {
        margin-bottom: 2rem;
    }

    .presentacion__foto {
        margin-top: 3rem;
    }
}